<div id="flex-container">
  <table class="flex-element">
      <tr>
        <th>Total Wins</th>
        <td>{{totalWins}}</td>
      </tr>
    
      <tr>
        <th>Bridges Built</th>
        <td>{{totalBuilt}}</td>
      </tr>
    
      <tr>
        <th>Bridges Destroyed</th>
        <td>{{totalDestroyed}}</td>
      </tr>
    
      <tr>
        <th>Button Press: W</th>
        <td>{{w}}</td>
      </tr>
    
      <tr>
        <th>Button Press: Shift+W</th>
        <td>{{W}}</td>
      </tr>
    
      <tr>
        <th>Button Press: S</th>
        <td>{{s}}</td>
      </tr>
    
      <tr>
        <th>Button Press: Shift+S</th>
        <td>{{S}}</td>
      </tr>
    
      <tr>
        <th>Button Press: A</th>
        <td>{{a}}</td>
      </tr>
    
      <tr>
        <th>Button Press: Shift+A</th>
        <td>{{A}}</td>
      </tr>
    
      <tr>
        <th>Button Press: D</th>
        <td>{{d}}</td>
      </tr>
    
      <tr>
        <th>Button Press: Shift+D</th>
        <td>{{D}}</td>
      </tr>
  </table>
</div>

<div id="foot">
    <div id="buttons">
        <button type="submit" class="btn btn-outline-main-menu" (click)="mainMenu()">Main Menu</button>
    </div>
</div>