<table>
  <thead>
    <th>Total Wins</th>
    <th>Bridges Built</th>
    <th>Bridges Destroyed</th>
    <th>Button Press: W</th>
    <th>Button Press: Shift+W</th>
    <th>Button Press: S</th>
    <th>Button Press: Shift+S</th>
    <th>Button Press: A</th>
    <th>Button Press: Shift+A</th>
    <th>Button Press: D</th>
    <th>Button Press: Shift+D</th>
  </thead>
  <tbody>
    <tr>
      <td>{{totalWins}}</td>
      <td>{{totalBuilt}}</td>
      <td>{{totalDestroyed}}</td>
      <td>{{w}}</td>
      <td>{{W}}</td>
      <td>{{s}}</td>
      <td>{{S}}</td>
      <td>{{a}}</td>
      <td>{{A}}</td>
      <td>{{d}}</td>
      <td>{{D}}</td>
    </tr>
  </tbody>
</table>

<div id="foot">
    <div id="buttons">
        <button type="submit" class="btn btn-outline-main-menu" (click)="mainMenu()">Main Menu</button>
    </div>
</div>