<div id="title">
  <p style="color: #4db93b">
        Level {{level}}
  </p>
  <div id="progress">
    <div id="bar">
    </div>
  </div>
</div>
<div id="flex-container">
  <table class="flex-element">
      <tr>
        <th>Total Wins</th>
        <td>{{totalWins}}</td>
      </tr>
    
      <tr>
        <th>Bridges Built</th>
        <td>{{totalBuilt}}</td>
      </tr>
    
      <tr>
        <th>Bridges Destroyed</th>
        <td>{{totalDestroyed}}</td>
      </tr>
    
      <tr>
        <th>Button Press: W</th>
        <td>{{w}}</td>
      </tr>
    
      <tr>
        <th>Button Press: Shift+W</th>
        <td>{{W}}</td>
      </tr>
    
      <tr>
        <th>Button Press: S</th>
        <td>{{s}}</td>
      </tr>
    
      <tr>
        <th>Button Press: Shift+S</th>
        <td>{{S}}</td>
      </tr>
    
      <tr>
        <th>Button Press: A</th>
        <td>{{a}}</td>
      </tr>
    
      <tr>
        <th>Button Press: Shift+A</th>
        <td>{{A}}</td>
      </tr>
    
      <tr>
        <th>Button Press: D</th>
        <td>{{d}}</td>
      </tr>
    
      <tr>
        <th>Button Press: Shift+D</th>
        <td>{{D}}</td>
      </tr>
  </table>

  <table class="flex-element">
      <tr>
        <th style="color: #aad46d">Times Solved a 1</th>
        <td>{{_1}}</td>
      </tr>

      <tr>
        <th style="color: #80daaf">Times Solved a 2</th>
        <td>{{_2}}</td>
      </tr>

      <tr>
        <th style="color: #4bb5ac">Times Solved a 3</th>
        <td>{{_3}}</td>
      </tr>

      <tr>
        <th style="color: #ffba53">Times Solved a 4</th>
        <td>{{_4}}</td>
      </tr>

      <tr>
        <th style="color: #d88799">Times Solved a 5</th>
        <td>{{_5}}</td>
      </tr>

      <tr>
        <th style="color: #f24b3e">Times Solved a 6</th>
        <td>{{_6}}</td>
      </tr>

      <tr>
        <th style="color: #dc1d2b">Times Solved a 7</th>
        <td>{{_7}}</td>
      </tr>

      <tr>
        <th style="color: #ec2474">Times Solved an 8</th>
        <td>{{_8}}</td>
      </tr>
  </table>
</div>

<div id="foot">
    <div id="buttons">
        <button type="submit" class="btn btn-quick" (click)="mainMenu()">Main Menu</button>
    </div>
</div>
