body {
    background-color: var(--background-color);
}

.btn-outline {
    width: 100%;
    background-color: var(--background-color);
    border-color: var(--grid-color);
    border-style: solid;
    color: var(--grid-color);
    outline: 5px;
    margin:auto;
}

.btn-outline-done {
    width: 100%;
    background-color: var(--background-color);
    border-color: var(--done-color);
    border-style: solid;
    color: var(--done-color);
    outline: 5px;
    margin:auto;
    }
hr{
    border: 1px solid var(--grid-color);
}

#label {
    color: var(--grid-color);
}

.btn-outline-back {
    width: 100%;
    background-color: var(--background-color);
    border-color: var(--back-color);
    border-style: solid;
    color: var(--back-color);
    outline: 5px;
    margin:auto;
}

.btn-outline-newboard {
    width: 100%;
    background-color: var(--background-color);
    border-color: var(--newboard-color);
    border-style: solid;
    color: var(--newboard-color);
    outline: 5px;
    margin:auto;
}

#timerContainer {
    border-color: var(--grid-color);
    border-style: solid;
    border-width: 1px;
    background-color: var(--background-color);
    position: absolute;
    top:30px;
    left:10px;
    vertical-align: middle;
    width:200px;
    padding-left:4px;
    padding-top:5px;
    padding-bottom:5px;
}

#buttons {
    border-color: var(--grid-color);
    border-style: solid;
    border-width: 1px;
    background-color: var(--background-color);
    position: absolute;
    top:100px;
    left:10px;
    width:200px;
    padding-top:15px;
    padding-bottom:15px;
    display: block;
}

#timer {
    color: var(--timer-color);
    background-color: var(--background-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
}


#myCanvas {
    position: absolute;
    cursor: url(mouse.png), auto;
    left: 225px;
    top:0px;
    background-color: var(--background-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#memes {
    position: absolute;
    text-align: center;
    color:#a89984;
    bottom:0;
    left:5px;
}