
<html>
        
    <div class="container" id="gameScreen" onresize="fixSizes()" (contextmenu)="contextMenu()">
            <img id="mouseImage" src="assets/mouse.png" style="display: none;">
            <img id="mouseHoverImage" src="assets/mouseHover.png" style="display: none;">

            <canvas id="myCanvas" width="1500" height="800"></canvas>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.6.0/two.min.js"></script>

        <div class="container" id="timerContainer">
            <h1 id="timer"><time>00:00:00</time></h1>
        </div>

        <ng-container *ngIf="!daily">
            <h1 class="difficulty">{{difficulty}}</h1>
            <h1 class="previousTime">{{previousTime}}</h1>
        </ng-container>

        <div class="container" id="buttons">
            <label *ngIf="solved && ((seed == 0 && !daily) || (daily))" id="label">Enter your name
                <p style="color:red" *ngIf="!isLoggedIn()">You are not logged in! You cannot submit scores. Log in using a google account
                                                            on the main menu.</p>
                <input class="form-control" *ngIf="solved && ((seed == 0 && !daily) || (daily)) && isLoggedIn()" type="text" [(ngModel)]="name" maxlength="10">
            </label>
            <button *ngIf="solved && ((seed == 0 && !daily) || (daily))" class="btn btn-outline-done" [disabled]="worseTime && !daily" (click)="submit()">Submit</button>
            <hr *ngIf="solved && seed == 0">
            <button class="btn btn-outline" (click)="toggleLetters()">Toggle Numbers</button>
            <br>
            <br>
            <button class="btn btn-outline" (click)="toggleGrid()">Toggle Grid</button>
            <br>
            <br>
            <button class="btn btn-outline" (click)="pauseGame()">Pause (P)</button>
            <br>
            <br>
            <button class="btn btn-outline" (click)="clearBoard()">Clear Board</button>
            <br>
            <br>
            <button class="btn btn-outline" (click)="fixSizes()">Resize</button>
            <br>
            <br>
            <button class="btn btn-outline" (click)="bigBoard()">Big Board</button>
            <hr>
            <button *ngIf="!daily" class="btn btn-outline-newboard" (click)="newBoard()">New Board</button>
            <br>
            <br>
            <button class="btn btn-outline-back" (click)="back()">Back to Main Menu</button>
        </div>
        <div *ngIf="!daily" id="memes">
            <p>Seed: {{board.initialSeed}}<br>Release Version: 8.6.1</p>
        </div>
    </div>
</html>
