body {
    background-color: #2c2c2c;
}

.btn-outline {
    width: 100%;
    background-color: #2c2c2c;
    border-color: #a89984;
    border-style: solid;
    color: #a89984;
    outline: 5px;
    margin:auto;
}

.btn-outline-done {
    width: 100%;
    background-color: #2c2c2c;
    border-color: #aad46d;
    border-style: solid;
    color: #aad46d;
    outline: 5px;
    margin:auto;
}

#timerContainer {
    border-color: #a89984;
    border-style: solid;
    border-width: 1px;
    background-color: #2c2c2c;
    position: absolute;
    top:8%;
    left:2%;
    vertical-align: middle;
    width:200px;
    padding-left:26px;
    padding-top:5px;
    padding-bottom:5px;
}

#buttons {
    border-color: #a89984;
    border-style: solid;
    border-width: 1px;
    background-color: #2c2c2c;
    position: absolute;
    top:15%;
    left:2%;
    width:200px;
    padding-top:15px;
    padding-bottom:15px;
    display: block;
}

#timer {
    color: #ffba53;
    background-color: #2c2c2c;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: auto;
}

#myCanvas {
    height:100%;
    width:70%;
    background-color: #2c2c2c;
    position: absolute;
    top: 0px;
    left: 0px;
}
