html {
    height: calc(100vh - 50px);
}
.btn-outline-back {
    width: 200px;
    height:35px;
    background-color: var(--background-color);
    border-color: var(--back-color);
    border-style: solid;
    color: var(--back-color);
    outline: 5px;
    margin:auto;
}

.gridContainer {
    height:100%;
    display:flex;
}

.columnContainer {
    display:flex;
    flex-wrap: wrap;
    min-height: 800px;
    height: 100%;
    width: 50%;
    margin: auto;
}

.back {
    position: absolute;
    bottom:5px;
    left:calc(50% - 75px);
}

#controls {
    position: absolute;
    left: 50px;
    top: 150px;
}

.col {
    padding-bottom: 10px;
}

.leaderboardEntry {
    color: white;   
    border: white solid;
    flex:1;
    margin: auto;
    
    font-size:18px;
    max-width:350px;
    min-width: 350px;
    height:350px;
    max-height:350px;
    min-height:350px;
    text-align: center;
}

.easyDaily {
    border: lightcoral solid;
}

.mediumDaily {
    border: cyan solid;
}

.hardDaily {
    border: lightgreen solid;
}

.extremeDaily {
    border: lightskyblue solid;
}


.first {
    color:yellow;
}

.second {
    color:white;
}

.third {
    color:#CD7F32;
}

.others {
    color:#C0C0C0;
}

