<html>
<div class="gridContainer">
    <ng-container *ngFor="let size of sizes; let m=index;">
        <div class="columnContainer" *ngIf="s==m+1">
            <ng-container *ngFor="let dif of difficulties">
                <div class="leaderboardEntry">
                    <h2>{{size}} {{toUpper(dif)}}</h2>
                    <table>
                      <thead>
                        <tr>
                          <td style="width:120px"><b>Name</b></td>
                            <td style="width:120px"><b>Time</b></td>
                            <td style="width:120px"><b>Seed</b></td>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let entry of scores[size + dif];
                        let i=index">
                          <ng-container *ngIf="i == 0">
                            <tr class="first">
                                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
                              <td>{{entry.time}}</td>
                              <td>{{entry.seed}}</td>
                            </tr>
                          </ng-container>
                          <ng-container *ngIf="i == 1">
                            <tr class="second">
                                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
                              <td>{{entry.time}}</td>
                              <td>{{entry.seed}}</td>
                            </tr>
                          </ng-container>
                          <ng-container *ngIf="i == 2">
                            <tr class="third">
                                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
                              <td>{{entry.time}}</td>
                              <td>{{entry.seed}}</td>
                            </tr>
                          </ng-container>
                          <ng-container *ngIf="i >=3">
                            <tr class="others">
                                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
                              <td>{{entry.time}}</td>
                              <td>{{entry.seed}}</td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      <tbody>
                    </table>
                </div>
            </ng-container>
        </div>
    </ng-container>

<div class="columnContainer" *ngIf="s==8">
    <div class="leaderboardEntry easyDaily">
      <h2>Easy Daily</h2>
    <table>
      <thead>
        <tr>
          <td style="width:180px"><b>Name</b></td>
          <td style="width:180px"><b>Time</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of scores['dailyeasy'];
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    <div class="leaderboardEntry mediumDaily">
      <h2>Medium Daily</h2>
    <table>
      <thead>
        <tr>
          <td style="width:180px"><b>Name</b></td>
            <td style="width:180px"><b>Time</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of scores['dailymedium'];
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    <div class="leaderboardEntry hardDaily">
      <h2>Hard Daily</h2>
    <table>
      <thead>
        <tr>
          <td style="width:180px"><b>Name</b></td>
            <td style="width:180px"><b>Time</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of scores['dailyhard'];
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    <div class="leaderboardEntry extremeDaily">
      <h2>Extreme Daily</h2>
    <table>
      <thead>
        <tr>
          <td style="width:180px"><b>Name</b></td>
            <td style="width:180px"><b>Time</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of scores['dailyextreme'];
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
                        <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
</div>

<div class="columnContainer" *ngIf="s==9">
<div class="leaderboardEntry mediumDaily">
  <h2 style="color:cyan">7 Medley</h2>
<table>
  <thead>
    <tr>
      <td style="width:180px"><b>Name</b></td>
        <td style="width:180px"><b>Time</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of scores['specialseasy'];
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry hardDaily">
  <h2 style="color:greenyellow">10 Medley</h2>
<table>
  <thead>
    <tr>
      <td style="width:180px"><b>Name</b></td>
        <td style="width:180px"><b>Time</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of scores['specialsmedium'];
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry extremeDaily">
  <h2 style="color:cadetblue">15 Medley</h2>
<table>
  <thead>
    <tr>
      <td style="width:180px"><b>Name</b></td>
        <td style="width:180px"><b>Time</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of scores['specialshard'];
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry easyDaily">
  <h2 style="color:red">GAUNTLET</h2>
<table>
  <thead>
    <tr>
      <td style="width:180px"><b>Name</b></td>
        <td style="width:180px"><b>Time</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of scores['specialsextreme'];
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
</div>

<ng-container *ngFor="let special of specials">
<div class="columnContainer" *ngIf="s==special.modeNum">
<div class="leaderboardEntry mediumDaily">
  <h2 style="color:cyan">{{special.modeDisplay}} Easy</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
      <td style="width:120px"><b>Time</b></td>
      <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of scores[special.modeName + 'easy'];
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry hardDaily">
  <h2 style="color:greenyellow">{{special.modeDisplay}} Medium</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
      <td style="width:120px"><b>Time</b></td>
      <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of scores[special.modeName + 'medium'];
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry extremeDaily">
  <h2 style="color:cadetblue">{{special.modeDisplay}} Hard</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
      <td style="width:120px"><b>Time</b></td>
      <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of scores[special.modeName + 'hard'];
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry easyDaily">
  <h2 style="color:red">{{special.modeDisplay}} Extreme</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
      <td style="width:120px"><b>Time</b></td>
      <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of scores[special.modeName + 'extreme'];
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
                    <ng-container *ngIf="!isDonator(entry.key)"> <td>{{entry.name}}</td> </ng-container> <ng-container *ngIf="isDonator(entry.key)"> <td> <img width="10" src="assets/donator.gif"> {{entry.name}} </td> </ng-container> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
</div>
</ng-container>

</div>
</html>

<div id="controls">
  <div class="col">
    <button class="btn btn-quick" (click)="load(1)">7x7</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(2)">10x10</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(3)">15x15</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(4)">25x25</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(5)">40x40</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(6)">60x60</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(7)">100x100</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(8)">Dailies</button>
  </div>
  <div class="col">
    <button class="btn btn-quick-warning" (click)="load(9)">Specials</button>
  </div>
</div>

<div *ngIf="s>=9" id="specialControls">
  <div class="col">
    <button class="btn btn-quick" (click)="load(9)">Medley</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(10)">Switch</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="load(11)">Pain</button>
  </div>
</div>