html {
    height: calc(100vh - 50px);
}
.btn-outline-back {
    width: 200px;
    height:35px;
    background-color: var(--background-color);
    border-color: var(--back-color);
    border-style: solid;
    color: var(--back-color);
    outline: 5px;
    margin:auto;
}

.gridContainer {
    height:100%;
    display:flex;
}

.columnContainer {
    display:flex;
    min-height: 800px;
    height: 100%;
    flex-direction:column;
    justify-content:space-around;
    margin: auto;
}

.back {
    position: absolute;
    bottom:5px;
    left:calc(50% - 100px);
}

.leaderboardEntry {
    color: white;   
    border: white solid;
    flex:1;
    margin: auto;
    
    font-size:10px;
    width:200px;
    height:200px;
    max-height:200px;
    min-height:200px;
    text-align: center;
}

.easyDaily {
    border: lightcoral solid;
}

.mediumDaily {
    border: cyan solid;
}

.hardDaily {
    border: lightgreen solid;
}

.extremeDaily {
    border: lightskyblue solid;
}


.first {
    color:yellow;
}

.second {
    color:white;
}

.third {
    color:#CD7F32;
}

.others {
    color:#C0C0C0;
}

