<html>
<div class="gridContainer">
<div class="columnContainer" *ngIf="s==1">
    <div class="leaderboardEntry">
      <h2>7x7 Easy</h2>
    <table>
      <thead>
        <tr>
          <td style="width:120px"><b>Name</b></td>
            <td style="width:120px"><b>Time</b></td>
            <td style="width:120px"><b>Seed</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of _7x7scoresEasy;
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    
    <div class="leaderboardEntry">
      <h2>7x7 Medium</h2>
    <table>
      <thead>
        <tr>
          <td style="width:120px"><b>Name</b></td>
            <td style="width:120px"><b>Time</b></td>
            <td style="width:120px"><b>Seed</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of _7x7scoresMedium;
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    <div class="leaderboardEntry">
      <h2>7x7 Hard</h2>
    <table>
      <thead>
        <tr>
          <td style="width:120px"><b>Name</b></td>
            <td style="width:120px"><b>Time</b></td>
            <td style="width:120px"><b>Seed</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of _7x7scoresHard;
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    <div class="leaderboardEntry">
      <h2>7x7 Extreme</h2>
    <table>
      <thead>
        <tr>
          <td style="width:120px"><b>Name</b></td>
            <td style="width:120px"><b>Time</b></td>
            <td style="width:120px"><b>Seed</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of _7x7scoresExtreme;
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
              <td>{{entry.seed}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
</div>

<div class="columnContainer" *ngIf="s==2">
<div class="leaderboardEntry ">
  <h2>10x10 Easy</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _10x10scoresEasy;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>10x10 Medium</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _10x10scoresMedium;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry">
  <h2>10x10 Hard</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _10x10scoresHard;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>10x10 Extreme</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _10x10scoresExtreme;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
</div>

<div class="columnContainer" *ngIf="s==3">
<div class="leaderboardEntry">
  <h2>15x15 Easy</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _15x15scoresEasy;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry ">
  <h2>15x15 Medium</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _15x15scoresMedium;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry">
  <h2>15x15 Hard</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _15x15scoresHard;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>15x15 Extreme</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _15x15scoresExtreme;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
</div>

<div class="columnContainer" *ngIf="s==4">
<div class="leaderboardEntry">
  <h2>25x25 Easy</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _25x25scoresEasy;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>25x25 Medium</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _25x25scoresMedium;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry ">
  <h2>25x25 Hard</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _25x25scoresHard;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>25x25 Extreme</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _25x25scoresExtreme;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
</div>

<div class="columnContainer" *ngIf="s==5">
<div class="leaderboardEntry">
  <h2>40x40 Easy</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _40x40scoresEasy;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>40x40 Medium</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _40x40scoresMedium;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry">
  <h2>40x40 Hard</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _40x40scoresHard;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry ">
  <h2>40x40 Extreme</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _40x40scoresExtreme;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
</div>

<div class="columnContainer" *ngIf="s==6">
<div class="leaderboardEntry">
  <h2>60x60 Easy</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _60x60scoresEasy;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>60x60 Medium</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _60x60scoresMedium;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry">
  <h2>60x60 Hard</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _60x60scoresHard;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>60x60 Extreme</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _60x60scoresExtreme;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
</div>

<div class="columnContainer" *ngIf="s==7">
    <div class="leaderboardEntry easyDaily">
      <h2>Easy Daily</h2>
    <table>
      <thead>
        <tr>
          <td style="width:180px"><b>Name</b></td>
          <td style="width:180px"><b>Time</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of _dailyScoresEasy;
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    <div class="leaderboardEntry mediumDaily">
      <h2>Medium Daily</h2>
    <table>
      <thead>
        <tr>
          <td style="width:180px"><b>Name</b></td>
            <td style="width:180px"><b>Time</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of _dailyScoresMedium;
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    <div class="leaderboardEntry hardDaily">
      <h2>Hard Daily</h2>
    <table>
      <thead>
        <tr>
          <td style="width:180px"><b>Name</b></td>
            <td style="width:180px"><b>Time</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of _dailyScores;
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
    <div class="leaderboardEntry extremeDaily">
      <h2>Extreme Daily</h2>
    <table>
      <thead>
        <tr>
          <td style="width:180px"><b>Name</b></td>
            <td style="width:180px"><b>Time</b></td>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let entry of _dailyScoresExtreme;
        let i=index">
          <ng-container *ngIf="i == 0">
            <tr class="first">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 1">
            <tr class="second">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i == 2">
            <tr class="third">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
          <ng-container *ngIf="i >=3">
            <tr class="others">
              <td>{{entry.name}}</td> 
              <td>{{entry.time}}</td>
            </tr>
          </ng-container>
        </ng-container>
      <tbody>
    </table>
    </div>
</div>

<div class="columnContainer" *ngIf="s==9">
<div class="leaderboardEntry mediumDaily">
  <h2 style="color:cyan">7 Medley</h2>
<table>
  <thead>
    <tr>
      <td style="width:180px"><b>Name</b></td>
        <td style="width:180px"><b>Time</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _medleyEasyScores;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry hardDaily">
  <h2 style="color:greenyellow">10 Medley</h2>
<table>
  <thead>
    <tr>
      <td style="width:180px"><b>Name</b></td>
        <td style="width:180px"><b>Time</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _medleyMediumScores;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry extremeDaily">
  <h2 style="color:cadetblue">15 Medley</h2>
<table>
  <thead>
    <tr>
      <td style="width:180px"><b>Name</b></td>
        <td style="width:180px"><b>Time</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _medleyHardScores;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry easyDaily">
  <h2 style="color:red">GAUNTLET</h2>
<table>
  <thead>
    <tr>
      <td style="width:180px"><b>Name</b></td>
        <td style="width:180px"><b>Time</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _gauntletScores;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
</div>

<div class="columnContainer" *ngIf="s==8">
<div class="leaderboardEntry">
  <h2>100x100 Easy</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _100x100scoresEasy;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>100x100 Medium</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _100x100scoresMedium;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>
<div class="leaderboardEntry">
  <h2>100x100 Hard</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _100x100scoresHard;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

<div class="leaderboardEntry">
  <h2>100x100 Extreme</h2>
<table>
  <thead>
    <tr>
      <td style="width:120px"><b>Name</b></td>
        <td style="width:120px"><b>Time</b></td>
        <td style="width:120px"><b>Seed</b></td>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let entry of _100x100scoresExtreme;
    let i=index">
      <ng-container *ngIf="i == 0">
        <tr class="first">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 1">
        <tr class="second">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i == 2">
        <tr class="third">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i >=3">
        <tr class="others">
          <td>{{entry.name}}</td> 
          <td>{{entry.time}}</td>
          <td>{{entry.seed}}</td>
        </tr>
      </ng-container>
    </ng-container>
  <tbody>
</table>
</div>

</div>
</div>
</html>

<div id="controls">
  <div class="col">
    <button class="btn btn-quick" (click)="s = 1">7x7</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="s = 2">10x10</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="s = 3">15x15</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="s = 4">25x25</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="s = 5">40x40</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="s = 6">60x60</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="s = 8">100x100</button>
  </div>
  <div class="col">
    <button class="btn btn-quick" (click)="s = 7">Dailies</button>
  </div>
  <div class="col">
    <button class="btn btn-quick-warning" (click)="s = 9">Specials</button>
  </div>
</div>

<div class="back">
  <button class="btn btn-quick" (click)="mainMenu()">Main Menu</button>
</div>
