.btn-outline-back {
    width: 200px;
    background-color: var(--background-color);
    border-color: var(--back-color);
    border-style: solid;
    color: var(--back-color);
    outline: 5px;
    margin:auto;
}

#back {
    position: absolute;
    bottom:0px;
    left:calc(50% - 100px);
}

#_7x7easy {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:10px;
    left:10px;
}

#_7x7medium {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:220px;
    left:10px;
}

#_7x7hard {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:430px;
    left:10px;
}

#_7x7extreme {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:640px;
    left:10px;
}

#_10x10easy {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:10px;
    left:220px;
}

#_10x10medium {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:220px;
    left:220px;
}

#_10x10hard {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:430px;
    left:220px;
}

#_10x10extreme {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:640px;
    left:220px;
}

#_15x15easy {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:10px;
    left:430px;
}

#_15x15medium {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:220px;
    left:430px;
}

#_15x15hard {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:430px;
    left:430px;
}

#_15x15extreme {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:640px;
    left:430px;
}

#_25x25easy {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:10px;
    left:640px;
}

#_25x25medium {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:220px;
    left:640px;
}

#_25x25hard {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:430px;
    left:640px;
}

#_25x25extreme {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:640px;
    left:640px;
}

#_40x40easy {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:10px;
    left:850px;
}

#_40x40medium {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:220px;
    left:850px;
}

#_40x40hard {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:430px;
    left:850px;
}

#_40x40extreme {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:640px;
    left:850px;
}

#_60x60easy {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:10px;
    left:1060px;
}

#_60x60medium {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:220px;
    left:1060px;
}

#_60x60hard {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:430px;
    left:1060px;
}

#_60x60extreme {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:640px;
    left:1060px;
}

#_80x80easy {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:10px;
    left:1270px;
}

#_80x80medium {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:220px;
    left:1270px;
}

#_80x80hard {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:430px;
    left:1270px;
}

#_80x80extreme {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:640px;
    left:1270px;
}

#_100x100easy {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:10px;
    left:1480px;
}

#_100x100medium {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:220px;
    left:1480px;
}

#_100x100hard {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:430px;
    left:1480px;
}

#_100x100extreme {
    color: white;   
    border: white medium solid;
    
    width:200px;font-size:10px;
    height:200px;
    text-align: center;

    position: absolute;
    top:640px;
    left:1480px;
}

#first {
    color:yellow;
}

#second {
    color:white;
}

#third {
    color:#CD7F32;
}

#others {
    color:#C0C0C0;
}

