<html>
        
    <div class="container" id="gameScreen" onresize="fixSizes()" (contextmenu)="contextMenu()">
            <img id="mouseImage" src="assets/mouse.png" style="display: none;">
            <img id="mouseHoverImage" src="assets/mouseHover.png" style="display: none;">

            <canvas id="myCanvas" width="1500" height="800"></canvas>

        <div id="barContainer">
            <div id="progress">
              <div id="bar">
              </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.6.0/two.min.js"></script>

        <div class="buttonBackground">

        <div class="container" id="timerContainer">
            <h1 id="timer"><time>00:00:00</time></h1>
        </div>

        <h1 class="difficulty">Rotating</h1>
        <h1 class="previousTime">{{previousTime}}</h1>

        <div class="container" id="buttons">
            <label *ngIf="solved && ((seed == 0 && !daily) || (daily))" id="label">Enter your name
                <p style="color:red" *ngIf="!isLoggedIn()">You are not logged in! You cannot submit scores. Log in using a google account
                                                            on the main menu.</p>
                <input class="form-control" *ngIf="solved && ((seed == 0 && !daily) || (daily)) && isLoggedIn()" type="text" [(ngModel)]="name" maxlength="10">
            </label>
            <button *ngIf="solved && ((seed == 0 && !daily) || (daily))" class="btn btn-quick-submit" [disabled]="worseTime && !daily" (click)="submit()">Submit</button>
            <hr *ngIf="solved && seed == 0">
            <button class="btn btn-quick" (click)="Switch()">SWITCH..?</button>
            <br>
            <br>
            <button class="btn btn-quick" (click)="fixSizes()">Resize</button>
            <br>
            <br>
            <button class="btn btn-quick" (click)="toggleCoords()">Display Coordinates</button>
            <br>
            <br>
            <button class="btn btn-quick" (click)="zoomIn()">Zoom In</button>
            <br>
            <br>
            <button class="btn btn-quick" (click)="zoomOut()">Zoom Out</button>
            <hr>
            <button *ngIf="!daily" class="btn btn-quick-newboard" (click)="newBoard()" [disabled]="gauntlet > 0">New Board</button>
            <br>
            <br>
            <button class="btn btn-quick-warning" (click)="back()">Back to Main Menu</button>
            <button *ngIf="getUid()=='AqsUsrfYBMVEs6IGLHRHHvDlydw1' && false" class="btn btn-quick-warning" (click)="skip = !skip">skip</button>
        </div>
        <div *ngIf="!daily" id="memes">
          <p>Level: {{level}}<br>Seed: {{board.initialSeed}}<br>Release Version: {{version}}</p>
        </div>
        </div>
    </div>
</html>
