#all {
    background-color: #2c2c2c;
    height: 100%;
}

#logo {
    position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

#rules {
    max-width: 100%;
    display: inline-block;
    height: auto;
    width: auto;
    background-color: #2c2c2c;
}
    
#form {
    position: absolute;
    top: 10px;
    text-align: left;
    width: 100%;
    background-color: #2c2c2c;
    color: #ffffff;
}

#sizeInput {
    width: 150px;
    font-size: 20px;
    
    background-color: #2c2c2c;
    text-align:center;
    display: inline-block;
    position: absolute;
    top:0px;
    left:200px;
    
    margin-right: 10px;
}

#numInput {
    width: 150px;
    
    font-size: 20px;
    background-color: #2c2c2c;
    
    text-align:center;
    position: absolute;
    top:0px;
    
    left:380px;
    
    display: inline-block;
    margin-right: 10px;
}

select { width: 400px; text-align-last:center; }

#label {
    font-size: 25px;
}

#numbering {
    width: 280px;
    font-size: 25px;
    background-color: #2c2c2c;
    
    text-align:center;
    position: absolute;
    top:0px;
    right:20px;
    display: inline-block;
    
    margin-right: 10px;
}
#label {
    position: absolute;
    top:130px;
    font-size: 25px;
    left:20px;
}

#patchNotes {
    width:40%;
    height:300px;
    overflow-y: hidden;
    position: absolute;
    top:180px;
    left:20px;
}

#launchers {
    width: 630px;
    position: absolute;
    display: flex;
    top: 150px;
    right: calc(50% - 320px);
}

#gauntlet {
    position: absolute;
    top: 590px;
    right: calc(50% - 75px);
}

#discord {
    position: absolute;
    bottom: 10px;
    left: calc(50% - 125px);
}

.title {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    color: #e8d9be;
    font-size: 50px;
    text-align: center;
}

.quickLaunchers {
    width: 150px;
    font-size: 25px;
    background-color: #2c2c2c;
    text-align:center;
    display: inline-block;
    margin-right: 10px;
}

.btn-quick-big {
    background-color: #2c2c2c;
    height: 50px;
    width:120px;
    color: #e8d9be;
    border-radius: 500px;
    border-color: #e8d9be;
    border-style: solid;
    outline: 1px;
    font-size:25px;
    margin-bottom:10px;
}


.green {
    color: #859900; 
}

.btn-quick:hover, .btn-quick:focus {
    background-color: #e8d9be;
    color: #2c2c2c;
    border-radius: 50px;
    border-color: #e8d9be;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-daily:hover, .btn-quick-daily:focus {
    background-color: #b58900;
    color: #2c2c2c;
    border-radius: 50px;
    border-color: #b58900;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-daily {
    background-color: #859000;
    color: #e8d9be;
    border-radius: 50px;
    border-color: #859000;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-warning:hover, .btn-quick-warning:focus {
    background-color: #b53131;
    color: #2c2c2c;
    border-radius: 50px;
    border-color: #b53131;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-warning {
    background-color: #2c2c2c;
    color: #b53131;
    border-radius: 50px;
    border-color: #b53131;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick {
    background-color: #2c2c2c;
    color: #e8d9be;
    border-radius: 50px;
    border-color: #e8d9be;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick, .btn-quick:hover, .btn-quick:focus,
.btn-quick-daily, .btn-quick-daily:hover, .btn-quick-daily:focus,
.btn-quick-warning, .btn-quick-warning:hover, .btn-quick-warning:focus {
    transition: background-color 0.6s ease;
    width: 150px;
    font-size: 25px;
    height: 40px;
    padding-top: 3px;
}

#grid{
    width: 280px;
    font-size: 25px;
    background-color: #2c2c2c;
    
    
    text-align:center;
    position: absolute;
    top:0px;
    right:calc((50% - 145px)/2);
    display: inline-block;
    
    margin-right: 10px;
}

#buttons1 {
    background-color: #2c2c2c;
    
    height: 45px;
    width:200px;
    color: #e8d9be;
    border-radius: 500px;
    border-color: #e8d9be;
    border-style: solid;
    outline: 1px;
}

#buttons2 {
    background-color: #2c2c2c;
    height: 30px;
    width:150px;
    color: #e8d9be;
    border-color: #e8d9be;
    
    border-radius: 500px;
    border-style: solid;
    margin-right:20px;
    margin-left:20px;
    outline: 1px;
}

.togglebutton {
    margin:auto;
    color:#e8d9be;

}

#images {
    position: relative;
    display: table;
    top:0%;
    background-color: #2c2c2c;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.btn-outline-done {
    width: 200px;
    background-color: #2c2c2c;
    font-size: 20px;
    border-color: #aad46d;
    border-style: solid;
    color: #aad46d;
    outline: 5px;
    margin:auto;
}

.btn-outline-rules {
    width: 100px;
    background-color: #2c2c2c;
    border-color: #e8d9be;
    border-style: solid;
    color: #e8d9be;
    outline: 5px;
    margin:auto;
    margin-left: 50px;
}

.btn-outline-invert:hover, .btn-outline-invert:focus {
    transition: background-color 0.6s ease;
    border-radius: 500px;
    width: 150px;
    background-color: #2c2c2c;
    border-color: #e8d9be;
    border-style: solid;
    color: #e8d9be;
    outline: 5px;
    margin:auto;
}

.btn-outline-invert {
    transition: background-color 0.6s ease;
    border-radius: 500px;
    width: 150px;
    background-color: #e8d9be;
    border-color: #2c2c2c;
    border-style: solid;
    color: #2c2c2c;
    outline: 5px;
    margin:auto;
}

.col {
    padding-bottom: 10px;
}

.btn-outline-leaderboards {
    width: 200px;
    background-color: #2c2c2c;
    border-color: #e8d9be;
    border-style: solid;
    color: #e8d9be;
    outline: 5px;
    margin:auto;
}

#numInput2 {
    width: 150px;
    font-size: 20px;
    background-color: #2c2c2c;
    text-align:center;
    position: absolute;
    top:200px;
    left:50px;
    margin-right: 10px;
}

#premium-members-only {
    position:absolute;
    top:250px;
    left:50px;
}

#extraButtons {
    position: absolute;
    right: 50px;
    top: 200px;
}

#leaderboards{
    position: absolute;
    bottom:5px;
    left:calc(50% - 100px);
}

#signup{
    position: absolute;
    top: 100px;
    left: calc(50% - 100px);
}

#buttons5 {
    position: absolute;
    background-color: #2c2c2c;
    bottom:5px;
    left:5px;
}

#memes {
    position: absolute;
    text-align: center;
    background-color: #2c2c2c;
    color:#e8d9be;
    bottom:0;
    right:5px;
}

#logoClass {
    position: absolute;
    width:150px;
    background-color: #2c2c2c;
    color:#e8d9be;
    bottom:0px;
    right:250px;
}

.dailyTime {
    color: #FFBA53;
}

.warning{
    color: #FF0000;
}
