<div id="all">
    <!--<div id="images">
        <div id="logo">
            <img width="300" src="assets/LogicBridges2.0._v2.png">
        </div>
    </div>-->
    
    <div class="title">
        Woohoojin Bridges
    </div>

    <div class="container" id="form">
        <form (ngSubmit)="onSubmit()" #boardForm="ngForm">
            <div id="premium-members-only">
                <!-- Arco's image -->
                <img *ngIf="getUid()=='1nDPOP9KWCfDXjwgtB4REoAQKRB2'" width="250" src="assets/singed.png">
                <img *ngIf="getUid()!='1nDPOP9KWCfDXjwgtB4REoAQKRB2' && getUid()!='4UF1vLpR0eVL3Lor900jvE716mM2'" width="250" src="assets/LogicBridges2.0._v2.png">
                
                <!-- Bam Bam -->
                <img *ngIf="getUid()=='4UF1vLpR0eVL3Lor900jvE716mM2'" width="250" src="assets/bambam.png">

            </div>

            <div class="form-group" id="numInput2">
                <select id="buttons2" (change)="changeTheme($event.target.value)">
                    <option value="light" class="togglebutton">Light Theme  </option>
                    <option value="night" class="togglebutton" selected="selected">Night Theme</option>
                    <option value="colorblind" class="togglebutton">Colorblind Theme</option>
                </select>
            </div>

            <div id="launchers">
                <div class="quickLaunchers">
                    <label class="green">Easy</label>
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('7x7easy')" value="7x7">               
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('10x10easy')" value="10x10">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('15x15easy')" value="15x15">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('25x25easy')" value="25x25">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('40x40easy')" value="40x40">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('60x60easy')" value="60x60">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('100x100easy')" value="100x100">
                    <input *ngIf="canPlayDailyEasy" type="button" class="btn btn-quick-daily" (click)="playDaily('easy')" value="Daily">
                    <input *ngIf="!canPlayDailyEasy && dailyEasy" type="button" class="btn btn-quick dailyTime" [disabled]="true" value="{{dailyEasy}}">
                </div>

                <div class="quickLaunchers">
                    <label class="green">Medium</label>
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('7x7medium')" value="7x7">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('10x10medium')" value="10x10">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('15x15medium')" value="15x15">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('25x25medium')" value="25x25">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('40x40medium')" value="40x40">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('60x60medium')" value="60x60">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('100x100medium')" value="100x100">
                    <input *ngIf="canPlayDailyMedium" type="button" class="btn btn-quick-daily" (click)="playDaily('medium')" value="Daily">
                    <input *ngIf="!canPlayDailyMedium && dailyMedium" type="button" class="btn btn-quick dailyTime" [disabled]="true" value="{{dailyMedium}}">
                </div>

                <div class="quickLaunchers">
                    <label class="green">Hard</label>
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('7x7hard')" value="7x7">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('10x10hard')" value="10x10">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('15x15hard')" value="15x15">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('25x25hard')" value="25x25">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('40x40hard')" value="40x40">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('60x60hard')" value="60x60">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('100x100hard')" value="100x100">
                    <input *ngIf="canPlayDailyHard" type="button" class="btn btn-quick-daily" (click)="playDaily('hard')" value="Daily">
                    <input *ngIf="!canPlayDailyHard && dailyHard" type="button" class="btn btn-quick dailyTime" [disabled]="true" value="{{dailyHard}}">
                </div>

                <div class="quickLaunchers">
                    <label class="green">Extreme</label>
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('7x7extreme')" value="7x7">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('10x10extreme')" value="10x10">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('15x15extreme')" value="15x15">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('25x25extreme')" value="25x25">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('40x40extreme')" value="40x40">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('60x60extreme')" value="60x60">
                    <input type="button" class="btn btn-quick" (click)="quickLaunch('100x100extreme')" value="100x100">
                    <input *ngIf="canPlayDailyExtreme" type="button" class="btn btn-quick-daily" (click)="playDaily('extreme')" value="Daily">
                    <input *ngIf="!canPlayDailyExtreme && dailyExtreme" type="button" class="btn btn-quick dailyTime" [disabled]="true" value="{{dailyExtreme}}">
                    <input *ngIf="getUid()=='1nDPOP9KWCfDXjwgtB4REoAQKRB2'" type="button" class="btn btn-quick dailyTime" (click)="resetDailies()" value="Reset">
                </div>
            </div>

            <div id="gauntlet">
                <input type="button" class="btn btn-quick-warning" (click)="startGauntlet()" value="Gauntlet">
            </div>

    
        </form>
    </div>
    <div id="buttons5">
        <label style="color:#a89984">Seed<br>
            <input style="color:black" name="in" type="number" [(ngModel)]="seed"/>
            </label>
    </div>

    <div id="discord">
        <a href="https://discord.gg/PtysEsh">
            <img width="250" src="assets/discord.png">
        </a>
    </div>

    <div id="extraButtons">
        <div class="col">
            <button *ngIf="!isLoggedIn()" type="submit" class="btn btn-outline-invert" (click)="signInWithGoogle()">Log in to save times</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-invert" (click)="rules()">Rules</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-invert" (click)="stats()">Stats</button>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-outline-invert" (click)="leaderboards()">Leaderboards</button>
        </div>
    </div>

    <div id="memes">
        <span id="span"><p>Copyright © 420 BC <br>Woohoojin Incorporated<br>
            Release Version: 8.7.4
        </p></span>
    </div>

    
</div>
