<div id="all">
    <div id="images">
        <div id="logo">
            <img width="300" src="assets/LogicBridges2.0._v2.png">
        </div>
    </div>
    
    <div class="container" id="form">
        <form (ngSubmit)="onSubmit()" #boardForm="ngForm">
        <div class="form-group" id="numInput2">
                <label>Theme</label>
                <select id="buttons2" (change)="changeTheme($event.target.value)">
                    <option value="light" class="togglebutton">Light Theme  </option>
                    <option value="night" class="togglebutton" selected="selected">Night Theme</option>
                    <option value="colorblind" class="togglebutton">Colorblind Theme</option>
                </select>
                <!--<input type="checkbox" (click)="onClick1('hotkeys')">Disable Hotkeys-->
                
            </div>
            <div class="form-group" id="sizeInput">
                <label>Board Size</label>
                <select (change)="onClick1($event.target.value)" id="buttons2">
                    <option value="7x7" class="togglebutton" (click)="onClick1('7x7')">7x7</option>
                    <option value="10x10" class="togglebutton" (click)="onClick1('10x10')">10x10</option>
                    <option value="15x15" class="togglebutton" (click)="onClick1('15x15')">15x15</option>
                    <option value="25x25" class="togglebutton" (click)="onClick1('25x25')" selected="selected">25x25</option>
                    <option value="40x40" class="togglebutton" (click)="onClick1('40x40')">40x40</option>
                    <option value="60x60" class="togglebutton" (click)="onClick1('60x60')">60x60</option>
                    <option value="80x80" class="togglebutton" (click)="onClick1('80x80')">80x80</option>
                    <option value="100x100" class="togglebutton" (click)="onClick1('100x100')">100x100</option>
                </select>
            </div>
            <div class="form-group" id="numInput">
                <label>Difficulty</label>
                <select (change)="changeDifficulty($event.target.value)" id="buttons2">
                    <option value="easy" class="togglebutton" (click)="onClick1('easy')">Easy</option>
                    <option value="medium" class="togglebutton" (click)="onClick1('medium')" selected="selected">Medium</option>
                    <option value="hard" class="togglebutton" (click)="onClick1('hard')">Hard</option>
                    <option value="extreme" class="togglebutton" (click)="onClick1('extreme')">Extreme</option>
                </select>
            </div>

            <div class="form-group" id="numbering">
                <label>Numbers</label>
                <select (change)="changeNumbering($event.target.value)" id="buttons2">
                    <option value="true" class="togglebutton" (click)="onClick1('medium')" selected="selected">On</option>
                    <option value="false" class="togglebutton" (click)="onClick1('easy')">Off</option>
                </select>
            </div>

            <div class="form-group" id="grid">
                    <label>Grid</label>
                    <select (change)="changeGrid($event.target.value)" id="buttons2">
                        <option value="true" class="togglebutton" (click)="onClick1('medium')" selected="selected">On</option>
                        <option value="false" class="togglebutton" (click)="onClick1('easy')">Off</option>
                    </select>
                </div>

            <label id="label">Patch Notes</label>
            <div id="patchNotes">
                
                <div id="pathNotesBody">
                    <p>
                        <b>PATCH 8.3.1 -</b><br>
                        1. Put the patch notes on the main screen<br>
                        2. Slightly shifted buttons on main screen, still trying to get a nice layout.<br>
                        3. Seed input occurs right above the Generate Board button.<br><br>
                        <b>PATCH 8.3.2 -</b><br>
                        1. Shift WASD now either sets bridges to 2 or 0<br><br>
                        <b>PATCH 8.3.3 -</b><br>
                        1. The color of a circle slightly changes when your mouse hovers over it.<br>
                    </p>
                </div>
            </div>

            <div class="form-grou" id="input">
                <div id="buttons3">
            
                </div>
            </div>


              
            
    
        </form>
    </div>
    <div id="discord">
        
    </div>
    <div id="buttons5">
        
    </div>

    <div id="leaderboards">
            <label style="color:#a89984">Seed<br>
                <input style="color:black" name="in" type="number" [(ngModel)]="seed"/>
                </label><br><br>
            <button (click)="onSubmit()" class="btn btn-outline-done"
            [disabled]="!boardForm.form.valid">Generate Board</button><br><br>
        <button type="submit" class="btn btn-outline-leaderboards" (click)="leaderboards()">Leaderboards</button>
    </div>

    <div *ngIf="!isLoggedIn()" id="signup">
        <button type="submit" class="btn btn-outline-leaderboards" (click)="signInWithGoogle()">Log in</button>
    </div>

    <div id="memes">
        <span id="span"><p>Copyright © 420 BC <br>Woohoojin Incorporated<br>Death to Arco<br>Lisa is Good<br>
            <a href="https://discord.gg/PtysEsh" style="color:#a89984">Click me to join our Discord server!</a>
            <br>Release Version: 8.3.3
        </p></span>
    </div>
</div>
