/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    background-color: var(--background-color);
}
:root {
    --background-color: #2c2c2c;
    --grid-color: #a89984;
    --done-color: #aad46d;
    --back-color: #f24b3e;
    --newboard-color: #4bb5ac;
    --timer-color: #ffba53;
    --btn-color: #e8d9be;
}

.btn-quick:hover, .btn-quick:focus {
    background-color: var(--btn-color);
    color: var(--background-color);
    border-radius: 50px;
    border-color: var(--btn-color);
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-daily:hover, .btn-quick-daily:focus {
    background-color: #b58900;
    color: #2c2c2c;
    border-radius: 50px;
    border-color: #b58900;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-daily {
    background-color: #859000;
    color: #e8d9be;
    border-radius: 50px;
    border-color: #859000;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-warning:hover, .btn-quick-warning:focus {
    background-color: #b53131;
    color: var(--background-color);
    border-radius: 50px;
    border-color: #b53131;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-warning {
    background-color: var(--background-color);
    color: #b53131;
    border-radius: 50px;
    border-color: #b53131;
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick {
    background-color: var(--background-color);
    color: var(--btn-color);
    border-radius: 50px;
    border-color: var(--btn-color);
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-submit:hover, .btn-quick-submit:focus {
    background-color: var(--done-color);
    color: var(--background-color);
    border-radius: 50px;
    border-color: var(--done-color);
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-submit {
    background-color: var(--background-color);
    color: var(--done-color);
    border-radius: 50px;
    border-color: var(--done-color);
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-newboard:hover, .btn-quick-newboard:focus {
    background-color: var(--newboard-color);
    color: var(--background-color);
    border-radius: 50px;
    border-color: var(--newboard-color);
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick-newboard {
    background-color: var(--background-color);
    color: var(--newboard-color);
    border-radius: 50px;
    border-color: var(--newboard-color);
    border-style: solid;
    outline: 1px;
    margin-bottom:10px;
}

.btn-quick, .btn-quick:hover, .btn-quick:focus,
.btn-quick-daily, .btn-quick-daily:hover, .btn-quick-daily:focus,
.btn-quick-warning, .btn-quick-warning:hover, .btn-quick-warning:focus,
.btn-quick-newboard, .btn-quick-newboard:hover, .btn-quick-newboard:focus {
    transition: background-color 0.6s ease;
    width: 150px;
    font-size: 25px;
    height: 40px;
    padding-top: 1px;
}
